In [19]:
import pandas as pd
import numpy as np

In [20]:
np.random.seed(123)
n_samples = 1000
n_class_0_ratio = 0.9
n_class_0 = int(n_samples*n_class_0_ratio)
n_class_1 = n_samples - n_class_0

In [21]:
n_class_0,n_class_1

(900, 100)

In [22]:
class_0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0, scale=1,size=n_class_0),
    "target":[0]*n_class_0
})

In [23]:
class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0, scale=1,size=n_class_1),
    "target":[1]*n_class_1
})

In [29]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [30]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [31]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64