In [10]:
import pandas as pd
import numpy as np

In [11]:
np.random.seed(123)
n_samples = 1000
n_class_0_ratio = 0.9
n_class_0 = int(n_samples*n_class_0_ratio)
n_class_1 = n_samples - n_class_0

In [12]:
n_class_0,n_class_1

(900, 100)

In [13]:
class_0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0, scale=1,size=n_class_0),
    "target":[0]*n_class_0
})

In [14]:
class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=2, scale=1,size=n_class_1),
    "target":[1]*n_class_1
})

In [15]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [16]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [17]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [18]:
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [19]:
#upsampling

In [20]:
df_minority = df[df['target']==1]

In [27]:
df_majority = df[df['target']==0]

In [28]:
df[df['target']==0]

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
895  0.238761 -0.003155       0
896 -1.106386 -0.430660       0
897  0.366732 -0.146416       0
898  1.023906  1.160176       0
899 -0.210056 -0.641512       0

[900 rows x 3 columns]

In [30]:
df[df['target']==0]

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
895  0.238761 -0.003155       0
896 -1.106386 -0.430660       0
897  0.366732 -0.146416       0
898  1.023906  1.160176       0
899 -0.210056 -0.641512       0

[900 rows x 3 columns]