In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    'city':['New York','London','Paris','Tokyo','New York','Paris'],
    'price':[200,150,300,250,180,320]
})

In [7]:
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [19]:
d = df.groupby('city')['price'].mean().to_dict()

In [20]:
#replace each city with its mean value

In [11]:
from sklearn.preprocessing import  OrdinalEncoder

In [13]:
encoder = OrdinalEncoder()